h1{
    color:aqua;
    background-color:burlywood;
    text-decoration: underline;
}
.bow {
    background-color: chartreuse;
    margin: 10px 30px 30px;
    padding: 50px 20px 50px 20px;
    border:10px solid rgb(202,190,177);
    border-radius: 17px;
}
.hi {
    background-color:coral;
    padding: 10px;
    border:2px solid;
    border-radius: 10px;
}